@model Clenka.Benelvis.BackendRsvp.DTOs.RsvpEntityDto

@{
    ViewData["Title"] = "Details for";
}

<h1>Details</h1>
<h5>Entry from @Model.Title @Model.Fname @Model.Lname</h5>
We are working on this. Be patient.